<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>Map url:</strong>
  <%= @location.map_url %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>

<% content_for(:sidebar) do %>
<div >
  <table>
  <thead>
    <tr>
      <th>Meeting Name</th>
      <th>Start Time</th>
      <th>End time</th>
    </tr>
  </thead>
  <tbody>
  <strong>Meetings:</strong>
     <% @location.meetings.where(['start_time > ?', DateTime.now]).first(5).each do |s| %>
        <tr>
         <td><%= s.name %></td>
         <td><%= s.start_time %></td>
         <td><%= s.end_time %></td>
     </tr>
     <%end%>
   </tbody>
  </table>
 </div>
<%end %>