<!DOCTYPE html>
<html>
<head>
  <title>Campusevents</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
	<div id="header">
		<h1>
			Campus Events
		</h1>
	</div>
	<div id="navigation">
		<ul>
			<li><%= link_to("Events", events_path) %></li>
			<li><%= link_to("Attendees", attendees_path) %></li>
			<li><%= link_to("Meetings", meetings_path) %></li>
			<li><%= link_to("Locations", locations_path) %></li>
			<li><%= link_to("Sponsors", sponsors_path) %></li>
		</ul>
	</div>
	<div id="content-container">
		<div id="content">
			<h2>
				Page heading
			</h2>
			<%= yield %>

			
		</div>
		<div id="aside">
			<h3>
				Aside heading
			</h3>
			<p>
				Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.
			</p>
			<%=yield :sidebar %>			

		</div>
		<div id="footer">
			Copyright © Site name, 20XX
		</div>
	</div>
</div>


</body>
</html>
